.header {
  height: 80px;
  background-color: #307A59;
  font-family: "Times New Roman";
  font-size: 20px;
}

.login-btn {
  float: right;
  margin: 15px 15px 0 0;
  font-family: "Times New Roman";
  font-size: 20px;
  background: #ebf2ef;
  color: #307A59;
}

.p-button.p-button-info.p-button-outlined {
  color: white;
  border: 2px solid;
}

.lang-btn {
  float: right;
  margin: 17px 15px 0 0;
  background: #ebf2ef;
  font-family: "Times New Roman";
  font-size: 20px;
  background: #ebf2ef;
  color: #307A59;
}

.home-btn {
  margin: 17px 0 0 15px;
  background: #ebf2ef;
  font-family: "Times New Roman";
  font-size: 20px;
  background: #ebf2ef;
  color: #307A59;
}
